<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="http://code.angularjs.org/1.2.25/angular.min.js"></script>
  <script src="./lib/jsplumb.js"></script>
  <style>
    .appData {
      position: relative;
    }

    .parentType {
      border: 1px solid royalblue;
      clear: both;
      position: absolute;
      width: 222px;
      height: 182px;
    }

    .childrenItem {
      width: 80px;
      height: 30px;
      border: 1px solid rebeccapurple;
      position: absolute;
      min-width: 80px;
      min-height: 30px;
    }

    .childrenItem span {
      display: inline-block;
      width: 100%;
      height: 100%;
    }
  </style>
</head>

<body>
  <div id="appData" ng-app="appData" ng-controller="GreetingCtrl">
    <!-- <div ng-repeat="parentItem in topoList" class="parentType">
      <div ng-repeat="children in parentItem.children" class="chindrenType">
        <div ng-repeat="(typ,val) in children" class="childrenItem" id="{{parentItem.id}}">
          <span ng-if="typ === 'target'" id="{{val}}" ng-bind="val"></span>
          <span ng-if="typ === 'source'" id="{{val}}" ng-bind="val"></span>
        </div>
      </div>
    </div> -->
    <div ng-repeat="parentItem in nodeList.groups" id="{{parentItem.id}}" class="parentType">
      {{parentItem.id}}
      <div ng-repeat="childrenItem in nodeList.nodes" ng-if="childrenItem.group === parentItem.id"
        id="{{childrenItem.id}}" class="childrenItem" ng-bind="childrenItem.id"></div>
    </div>
    <script>
      var myApp = angular.module('appData', []);

      myApp.controller('GreetingCtrl', ['$scope', function ($scope) {
        $scope.topoList = [{
          id: "parent1",
          children: [{
            target: "parent1_children1",
            source: "parent1_children1.1"
          }, {
            target: "parent1_children2",
            source: "parent1_children2.1"
          }]
        }, {
          id: "parent2",
          children: [{
            target: "parent2_children1",
            source: "parent2_children1.1"
          }, {
            target: "parent2_children2",
            source: "parent2_children2.1"
          }]
        }];
        $scope.nodeList = {
          "nodes": [{
              "id": "window1",
              "name": "1",
              "left": 10,
              "top": 20,
              "group": "one"
            },
            {
              "id": "window2",
              "name": "2",
              "left": 140,
              "top": 50,
              "group": "one"
            },
            {
              "id": "window3",
              "name": "3",
              "left": 450,
              "top": 50
            },
            {
              "id": "window4",
              "name": "4",
              "left": 110,
              "top": 370
            },
            {
              "id": "window5",
              "name": "5",
              "left": 140,
              "top": 150,
              "group": "one"
            },
            {
              "id": "window6",
              "name": "6",
              "left": 50,
              "top": 50,
              "group": "two"
            },
            {
              "id": "window7",
              "name": "7",
              "left": 50,
              "top": 450
            },
            {
              "id": "window8",
              "name": "8",
              "left": 50,
              "top": 150,
              "group": "three"
            }
          ],
          "edges": [{
              "source": "window1",
              "target": "window3",
              "data": {}
            },
            {
              "source": "window1",
              "target": "window4",
              "data": {}
            },
            {
              "source": "window3",
              "target": "window5",
              "data": {}
            },
            {
              "source": "window4",
              "target": "window6",
              "data": {}
            },
            {
              "source": "window5",
              "target": "window2",
              "data": {}
            },
            {
              "source": "window6",
              "target": "window2",
              "data": {}
            },
            {
              "source": "three",
              "target": "one",
              "data": {}
            }
          ],
          "ports": [],
          "groups": [{
              "id": "one",
              "title": "Group 1",
              "left": 100,
              "top": 50
            },
            {
              "id": "two",
              "title": "Group 2",
              "left": 450,
              "top": 250,
              "type": "constrained"
            },
            {
              "id": "three",
              "title": "Group 3",
              "left": 350,
              "top": 300
            }
          ]
        }

        jsPlumb.ready(function () {

          var firstInstance = jsPlumb.getInstance();
          // 执行操作之前先暂停绘图
          firstInstance.setSuspendDrawing(true);
          // 全局样式定义，默认样式 //单个定义使用getInstance
          firstInstance.importDefaults({
            PaintStyle: { //连接器为13像素宽，并涂有半透明的红线
              strokeWidth: 13,
              stroke: 'rgba(200,0,0,0.5)'
            },
            ReattachConnections : false,//是否重新连接使用鼠标分离的线
            DragOptions: {
              cursor: "crosshair"
            }, //拖动元素时，使用十字光标
            Endpoints: [
              ["Dot", {
                radius: 7
              }],
              ["Dot", {
                radius: 11
              }]
            ], //源端点是半径为7的点；目标端点是半径11的点
            ConnectionsDetachable: false, // 全局不能移动连接线
            EndpointStyles: [{
              fill: "#225588"
            }, {
              fill: "#558822"
            }] //源端点为蓝色；目标端点为绿色
          });
          $scope.nodeList.groups.forEach(function (parentItem) {
            var eleObj = document.getElementById(parentItem.id);
            eleObj.style.top = parentItem.top + 'px';
            eleObj.style.left = parentItem.left + 'px';
            firstInstance.addGroup({
              el: eleObj,
              id: parentItem.id,
              droppable: false, // 是否拖放子元素，子元素是否可以放置其他元素
              anchor: ['Top', 'Bottom'],
              constrain: false, // 防止组接受已删除的元素，子元素仅限在元素内拖动
              dropOverride: true, // 防止将元素拖到组外
              draggable: true, // 默认为true,组是否可以拖动
              revert: true, // 元素是否可以拖到只有边框可以重合
              endpoint: ["Rectangle", {
                width: 10,
                height: 10
              }]
            });
          });
          // 节点移动时，动态刷新连接线
          firstInstance.repaintEverything();
          $scope.nodeList.nodes.forEach(function (childrenItem) {
            var eleObj = document.getElementById(childrenItem.id);
            if (eleObj) {
              eleObj.style.top = childrenItem.top + 'px';
              eleObj.style.left = childrenItem.left + 'px';
              firstInstance.addToGroup(childrenItem.group, eleObj);
            }
          });
          $scope.nodeList.edges.forEach(function (childrenItem) {
            firstInstance.connect({
              source: childrenItem.target,
              target: childrenItem.source,
              endpoint: 'Dot'
              // detachable: false // 不能移动该线
            });
            firstInstance.draggable(childrenItem.target);
            firstInstance.draggable(childrenItem.source);
          });
          firstInstance.setContainer("appData");
          // 获取所有连线数据
          for (var i in firstInstance.getAllConnections()) {
            // connections 是线数据数组
            // 前提，给定一个实例，实例上会绑定所需的所有数据
            console.log(firstInstance.getAllConnections()[i])
            firstInstance.getAllConnections()[i].sourceId; // 起始html元素的ID
            firstInstance.getAllConnections()[i].targetId; // 目标html元素的ID
            firstInstance.getAllConnections()[i].endpoints; // 端点 有起始端点和目标端点 endpoints是一个数组
            firstInstance.getAllConnections()[i].endpoints[0].anchor; // endpoints[0]是起始端点 anchor是锚点
            firstInstance.getAllConnections()[i].endpoints[0].anchor.type; // 锚点的type（类型），位置
            firstInstance.getAllConnections()[i].endpoints[1].anchor; // endpoints[1]是目标端点 anchor是锚点
            firstInstance.getAllConnections()[i].endpoints[1].anchor.type; // 锚点的type（类型），位置
          }
          let jsplumbGetGroup = firstInstance.getGroup('one');
          // 获取子元素的父元素
          console.log(firstInstance.getGroupFor('window1'));

          // 获取子元素的父元素
          console.log(jsplumbGetGroup);
          // 获取父元素下面所有子元素
          jsplumbGetGroup.getMembers().forEach(function (memberItem) {
            // 下面两个返回结果相同
            // console.log(memberItem);
            console.log(firstInstance.getGroup(memberItem))
          });
          // console.log(jsplumbGetGroup.getMembers());
          let jsplumbGetGroups = firstInstance.getGroups('two');
          console.log(jsplumbGetGroups);

          // 处理完数据之后，整体绘制
          firstInstance.setSuspendDrawing(false, true);



        });


        // parentList

        var commonStyle = {
          endpoint: "Blank",
          connector: ['Flowchart'],
          anchor: ['Bottom', 'Bottom'],
          // 给连接线加样式
          paintStyle: { // 连线样式
            stroke: 'red',
            strokeWidth: 3
          },
          endpointStyle: { // 节点样式
            fill: 'lightgray',
            outlineStroke: 'darkgray',
            outlineWidth: 2
          },
          // 给连接加上箭头
          overlays: [ //Label  Arrow  PlainArrow Diamond Custom
            ['Arrow', {
              width: 12,
              length: 12,
              location: 1 //箭头位置0-1
            }]
          ],
          // 用户拖动，自动创建连接
          isSource: true,
          isTarget: true,
        };


        /* jsPlumb.ready(function () {
          jsPlumb.setContainer('appData');
          $scope.topoList.forEach(function (parentItem) {
            var firstInstance = jsPlumb.getInstance();
            firstInstance.addGroup({
              el: document.getElementById(parentItem.id),
              id: parentItem.id,
              droppable: true, // 是否拖放子元素
              anchor: ['Top', 'Bottom'],
              constrain: true, // 防止组接受已删除的元素
              dropOverride: true, // 防止将元素拖到组外
              endpoint: ["Rectangle", {
                width: 10,
                height: 10
              }]
            });
            parentItem.children.forEach(function (childrenItem) {
              firstInstance.addToGroup(parentItem.id, document.getElementById(childrenItem.target));
              firstInstance.addToGroup(parentItem.id, document.getElementById(childrenItem.source));
              firstInstance.connect({
                source: childrenItem.target,
                target: childrenItem.source,
                endpoint: 'Dot'
              });
              firstInstance.draggable(childrenItem.target);
              firstInstance.draggable(childrenItem.source);
            });
          });

        });

 */
      }]);
    </script>

</body>

</html>
